<footer>
    <nav>
        <ul>
            <li>
                <a href="#home">
                    <img src="./images/museumIcon.png" alt="Alle kunstwerken">
                </a>
            </li>
            <li>
                <a href="#schilderijen">
                    <img src="./images/paintingIcon.png" alt="Schilderijen">
                </a>
            </li>
            <li>
                <a href="#sculpturen">
                    <img src="./images/sculptureIcon.png" alt="Sculpturen">
                </a>
            </li>
            <li>
                <a href="#zoeken">
                    <img src="./images/searchIcon.png" alt="Zoeken">
                </a>
            </li>
        </ul>
    </nav>
</footer>