<header>
    <h1>
        <a href="/overview">
            <img src="../images/logo_rijksmuseum.svg" alt="Logo Rijksmuseum">
        </a>
    </h1>
    <a href="/zoeken"><img src="../images/search.svg" alt="Zoeken"></a>
</header>