<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#40474F"/>
    <meta name="description"
        content="Met de webapp van Rijkskunst kan je de kunstwerken uit het Rijksmuseum bekijken waar en wanneer je maar wilt!">
    <title>Rijkskunst | {{{title}}}</title>

    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/static/images/icon-192x192.png">
    <link rel="icon" type="image/jpg" href="/static/images/icon-192x192.png" />

    <script src="/scripts/script.js" defer></script>
</head>

<body>

    {{{body}}}

</body>


</html>