<header>
    {{> header}}
    {{> headerCategory}}
</header>
<main class="category">
    <ul>
        {{#each data}}
        <li>
            <a href="/details/{{this.id}}">
                <img src="{{this.webImage.url}}" alt="{{this.title}}">
                <h2>{{this.title}}</h2>
            </a>
        </li>
        {{/each}}
    </ul>
</main>