<header>
    {{> header}}
</header>
<main class="main">
    <h1>Welkom</h1>
    <p>Ontdek de kunst van het Rijksmuseum via RijksKunst vanaf je bank!</p>
    <p>Klik op "Bekijk de kunst" om een aantal uitgelichte kunstwerken te bekijken, te zoeken naar een bepaalde categorie of een specifiek kunstwerk!</p>
    <p>Een mooi kunstwerk gevonden? Klik erop om het kunstwerk in detail te bekijken. Hier vind je een grotere afbeelding van het kunstwerk, een omschrijving en de categorieën waar het kunstwerk bij hoort. </p>
    <a href="/overview">Bekijk de kunst</a>
</main>
