<header>
    {{> header}}
</header>
<main class="main">
    <h1>Welkom</h1>
    <p>Ontdek de kunst van het Rijksmuseum via RijksKunst vanaf je bank!</p>
    <a href="/overview">Bekijk de kunst</a>
</main>
