<body class="offline">
    <header>
        {{> header}}
    </header>
    <main>
        <h1>Je bent offline</h1>
        <p>Verbind met het internet en probeer het opnieuw. </p>
        <img src="/static/images/melkmeisje.webp" alt="Het melkmeisje, Johannes Vermeer">
        <p>In de tussentijd kun je genieten van Het Melkmeisje van Johannes Vermeer, een schilderij uit de tijd dat ze ook geen internet hadden.</p>

    </main>
</body>