@font-face {
    font-family: 'Panno';
    src: url(../fonts/PannoText-Normal.woff) format('woff'),
        url(../fonts/PannoText-Normal.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Panno';
    src: url(../fonts/PannoText-Bold.woff) format('woff'),
        url(../fonts/PannoText-Bold.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
}

/*************/
/* CSS Reset */
/*************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    overflow: auto;
    height: 100%;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}




/********/
/* Root */
/********/
:root {
    --background-color: #40474F;
    --dark-color: #202327;
    --accent-color: #D55140;

    --text-color: #ffffff;

    --font-paragraph: 'Panno', Arial, sans-serif;
}




/********************/
/* Algemene styling */
/********************/
body {
    background-color: var(--background-color);
    font-family: var(--font-paragraph);
    font-weight: 400;
    color: var(--text-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
}

main {
    overflow: hidden;
    max-width: 70rem;
    margin: auto;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

header>section a {
    font-size: 0pt;
}

p, a, li, input{
    font-size: 1.2rem;
}




/*******************/
/* Header met logo */
/*******************/
header {
    padding: 2rem;
    background-image: url("../images/background_header.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header>section {
    margin: 0 auto 2rem auto;
    max-width: 70rem;
}

header>section:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>section>h1 {
    display: flex;
}

header>section>h1>a>svg {
    width: 15rem;
}

header>section>a>svg {
    width: 2rem;
}

header>section:nth-of-type(2)>h1::first-letter {
    text-transform: capitalize;
}

.details>header {
    background-image: none;
}



/*****************************/
/* Main -> Introductiepagina */
/*****************************/
.main {
    padding: 2rem;
    max-width: 30rem;
    margin: auto;

}

.main>a {
    display: block;
    margin: auto;
    margin-top: 3.5rem;
    background-color: var(--accent-color);
    border: none;
    color: var(--text-color);
    text-align: center;
    font-weight: 700;
    padding: .5rem;
    width: 15rem;
}

.main>p {
    margin-top: 1rem;
}





/************/
/* Overview */
/************/
.overview>h2,
.category>h2 {
    margin: 3rem auto .5rem 2rem;
}

.overview>ul {
    display: grid;
    grid-template-columns: repeat(3, calc(98% / 3));
    grid-template-rows: repeat(6, calc(90vw / 3));
    grid-gap: .3rem;
}

.overview>ul>li {
    overflow: hidden;
}

.overview>ul>li:first-of-type {
    grid-area: 1 / 1 / 3 / 3;
}

.overview>ul>li:nth-of-type(2) {
    grid-area: 1 / 3 / 2 / 4;
}

.overview>ul>li:nth-of-type(3) {
    grid-area: 2 / 3 / 3 / 4;
}

.overview>ul>li:nth-of-type(4) {
    grid-area: 3 / 1 / 4 / 2;
}

.overview>ul>li:nth-of-type(5) {
    grid-area: 3 / 2 / 4 / 4;
}

.overview>ul>li:nth-of-type(6) {
    grid-area: 4 / 1 / 5 / 3;
}

.overview>ul>li:nth-of-type(7) {
    grid-area: 4 / 3 / 5 / 4;
}

.overview>ul>li:last-of-type {
    grid-area: 5 / 2 / 7 / 4;
}

.overview>ul>li>a>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}






/***********/
/* Details */
/***********/
.details>main {
    max-width: 100%;
}

.details>main>img {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 60vh;
    width: 100vw;
    object-fit: cover;
}

.details>main>section {
    padding: 2rem;
    position: absolute;
    top: 60vh;
    overflow: hidden;
    max-width: 80rem;
}

.details>main>section>ul {
    display: flex;
}

.details>main>section>ul>li {
    margin: 1rem 1rem .5rem 0;
    background-color: var(--dark-color);
    padding: .5rem;
}

.details>main>section>ul>li>a {
    color: var(--text-color);
    display: inline-block;
}

.details>main>section>ul>li>a::first-letter {
    text-transform: capitalize;
}




/*************/
/* Categorie */
/*************/
.category>ul {
    display: grid;
    grid-template-columns: repeat(3, calc(100vw / 3));
    grid-template-rows: repeat(5, calc(100vw / 3));
    grid-gap: .3rem;
}

.category>ul>li {
    overflow: hidden;
}

.category>ul>li:first-of-type {
    grid-area: 1 / 1 / 3 / 3;
}

.category>ul>li:nth-of-type(2) {
    grid-area: 1 / 3 / 2 / 4;
}

.category>ul>li:nth-of-type(3) {
    grid-area: 2 / 3 / 3 / 4;
}

.category>ul>li:nth-of-type(4) {
    grid-area: 3 / 1 / 4 / 2;
}

.category>ul>li:nth-of-type(5) {
    grid-area: 3 / 2 / 4 / 4;
}

.category>ul>li:nth-of-type(6) {
    grid-area: 4 / 1 / 5 / 3;
}

.category>ul>li:nth-of-type(7) {
    grid-area: 4 / 3 / 5 / 4;
}

.category>ul>li>a>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}

.category>h2::first-letter {
    text-transform: capitalize;
}




/**********/
/* Zoeken */
/**********/
.search {
    padding: 2rem;
}

.search>form {
    position: relative;
    margin-top: 1rem;
}

.search>form>label {
    display: none;
}

.search>form>input {
    background-color: var(--background-color);
    border: none;
    border-bottom: 1px solid var(--text-color);
    width: 100%;
    color: var(--text-color);
    font-size: 1rem;
}

.search>form>button {
    background-color: transparent;
    background-image: url("../images/search.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: 999px;
    width: 2rem;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0rem;
}

.search>nav>ul>li {
    margin-top: 1rem;
}

.search>nav>ul>li>a {
    display: inline-block;
    width: 100%;
}




/****************/
/* Offline page */
/****************/
.offline>main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.offline img{
    margin: 2rem;
}

.offline p{
    text-align: center;
    max-width: 25rem;
}


@media screen and (min-width: 800px) {

    .overview>ul,
    .category>ul {
        grid-template-columns: repeat(6, calc(100% / 6));
        grid-template-rows: repeat(4, calc(90vw / 6));
    }

    .overview>ul>li:nth-of-type(2),
    .category>ul>li:nth-of-type(2) {
        grid-area: 1 / 3 / 2 / 5;
    }

    .overview>ul>li:nth-of-type(3),
    .category>ul>li:nth-of-type(3) {
        grid-area: 1 / 5 / 2 / 6;
    }

    .overview>ul>li:nth-of-type(4),
    .category>ul>li:nth-of-type(4) {
        grid-area: 2 / 3 / 3 / 6;
    }

    .overview>ul>li:nth-of-type(5),
    .category>ul>li:nth-of-type(5) {
        grid-area: 1 / 6 / 3 / 7;
    }

    .overview>ul>li:nth-of-type(6),
    .category>ul>li:nth-of-type(6) {
        grid-area: 3 / 1 / 4 / 2;
    }

    .overview>ul>li:nth-of-type(7),
    .category>ul>li:nth-of-type(7) {
        grid-area: 3 / 2 / 4 / 4;
    }

    .overview>ul>li:nth-of-type(8),
    .category>ul>li:nth-of-type(8) {
        grid-area: 4 / 1 / 5 / 4;
    }

    .overview>ul>li:nth-of-type(9),
    .category>ul>li:nth-of-type(9) {
        grid-area: 3 / 4 / 5 / 5;
    }

    .overview>ul>li:nth-of-type(10),
    .category>ul>li:nth-of-type(10) {
        grid-area: 3 / 5 / 5 / 7;
    }


    .details>main>section {
        width: 100%;
        max-width: 70rem;
        left: 50%;
        transform: translate(-50%);
    }
}
